
[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
streamlit
PIL
numpy
pandas
sentence_transformers
torch
st-card-component==0.0.10
scikit-learn
# IMPORTANT: If you need to add a package just for testing, please add it to
# test-requirements.txt instead.

[packages]
# NOTE: We only use this Pipfile to manage dev and test dependencies.
# Dependencies for releases of the Streamlit library itself should be added in
# setup.py. See https://pipenv.pypa.io/en/latest/advanced/#pipfile-vs-setup-py
# for more information on why things are done in this way.
streamlit = {editable = true, extras = ["snowflake"], path = "."}
